---
---

@import "{{ site.theme }}";

a,h1,h2,h3 {
    color: #8B008B;
}

img.profile-photo {
    border-radius: 50%;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@media only screen and (max-width: 960px) {
    img.profile-photo {
        max-width: 40%;
        }
    h1.header-contents {
        text-align: center;
    }
    p.header-contents {
        text-align: center;
    }
  }

@media print, screen and (max-width: 960px) {
    header {
      padding-right: 320px;
    }
}